<div class="summary">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Netto</th>
        <th scope="col">Tax</th>
        <th scope="col">Gross</th>
      </tr>
      <tr>
        <td>Summary:</td>
        <td>{{summary.netto}}</td>
        <td>{{summary.tax}}</td>
        <td>{{summary.brutto}}</td>
      </tr>
    </thead>
  </table>
</div>
<!--
<ul>
  <li>Gross: {{ summary.brutto }}</li>
  <li>Netto: {{ summary.netto }}</li>
  <li>Tax: {{ summary.tax }}</li>
</ul>
-->
