.inputText{
  min-width: 200px;
  width: 400px;
}
.thead{
  width: 25%;
}
.col{
  font-size: 0.5em;
}
.consumerAdd
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.fa{

}
